html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background-color: #f1f4f8;
  font-family: Inter;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Inter;
  src: url(./assets/font/Inter/Inter-regular.ttf);
}

@font-face {
  font-family: Inter;
  src: url(./assets/font/Inter/Inter-SemiBold.ttf);
}

@font-face {
  font-family: Inter;
  src: url(./assets/font/Inter/Inter-medium.ttf);
}

.container {
  margin: auto;
  padding-top: 50px;
  padding-bottom: 30px;
  position: relative;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
}

.profile-pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 7%;
  border-radius: 50px;
}

.profile-name {
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
}

.profile-name-2 {
  display: none;
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
}

.share-btn {
  position: absolute;
  left: 90%;
  top: 5%;
  width: 3%;
  border: 2px dashed rgb(167, 164, 164);
  border-radius: 20px;
  background-color: rgb(255, 248, 248);
  cursor: pointer;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 56px;
}

.link-item {
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  background-color: rgb(224, 224, 224);
  text-align: center;
  width: 1152px;
  height: 76px;
  border-radius: 5px;
}


a:link,
a:visited,
a:active {
  text-decoration: none;
}

.link-item:hover {
  background-color: rgb(199, 197, 197);
  color: #000;
}

.link-txt {
  margin-top: 25px;
  color: rgb(36, 35, 35);
  font-size: 1.8rem;
  font-weight: 500;
}

.social-icon {
  display: flex;
  justify-content: center;
  gap: 32px;
  margin-top: 30px;
}

footer {
  margin-top: 100px;
}

hr {
  border: 1px solid rgb(233, 233, 233);
}

.footer-items {
  display: flex;
  justify-content: space-evenly;
  gap: 300px;
  margin-top: 30px;
}

.footer-items-txt {
  font-size: 1.6rem;
  font-weight: 400;
  color: #667085;
  margin-top: 15px;
}

/*Contact styling*/
.contact-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  margin-top: 50px;
}

.contact {
  display: flex;
  flex-direction: column;
  margin-left: -100px;
}

.contact-header {
  font-size: 3.6rem;
  font-weight: 600;
  color: #101828;
  letter-spacing: -0.02em;
}

.contact-txt {
  font-size: 2.0rem;
  font-weight: 400;
  color: #475467;
}

.form-item {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-flex {
  display: flex;
  gap: 25px;
}

.form-flex-1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-label {
  color: #344054;
  font-size: 1.4rem;
}

.txt-field {
  border: 1px solid #D0D5DD;
  background-color: #FFFFFF;
  width: 348px;
  height: 44px;
  padding: 10px 14px;
  font-size: 1.6rem;
}

.txt-field::placeholder, .message-field::placeholder, .email-field::placeholder {
  font-size: 1.6rem;
  color: #667085;
  font-family: sans-serif;
}

.email-field {
  width: 720px;
  height: 44px;
  border: 1px solid #D0D5DD;
  background-color: #FFFFFF;
  padding: 10px 14px;
  font-size: 1.6rem;
}

.message-field { 
  min-width: 720px;
  max-width: 720px;
  min-height: 132px;
  max-height: 132px;
  padding: 12px 14px;
  font-size: 1.6rem;
}

.check-box-input {
  display: flex;
  gap: 5px;
}

.check-box {
  width: 20px;
  height: 20px;
  border: 2px solid #667085;
}

.form-btn {
  background-color: #B2DDFF;
  border: 1px solid #B2DDFF;
  border-radius: 8px;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  width: 720px;
  height: 48px;
  color: #FFFFFF;
  font-size: 1.6rem;
  cursor: pointer;
}

.form-btn-1 {
  background-color: #1570EF;
  border: 1px solid #1570EF;
  border-radius: 8px;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  width: 720px;
  height: 48px;
  color: #FFFFFF;
  font-size: 1.6rem;
  cursor: pointer;
}

.contact-footer {
  margin-bottom: 20px;
}

/* Error Message color*/
.error {
  color: #F83F23;
}

/* Error Component */
.error-flex {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 200px 100px;
}

.error-flex-col {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.error-page-txt {
  font-size: 1.6rem;
  color: #1570EF;
  font-weight: 400;
}

.error-header {
  font-size: 6.0rem;
  color:  #101828;
  letter-spacing: -0.02em;
  font-weight: 600;
}

.error-flex-row {
  display: flex;
  gap: 20px;
}

.error-btn-flex {
  display: flex;
  gap: 10px;
  background-color: #FFFFFF;
  border: 1px solid #D0D5DD;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  padding: 8px 10px;
  cursor: pointer;
}

.error-btn-txt {
  color: #344054;
  font-size: 1.4rem;
  font-weight: 600;
}

.error-btn-2 {
  background-color: #1570EF;
  border: 1px solid #1570EF;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  font-weight: 600;
  font-size: 1.4rem;
  padding: 8px 10px;
  color: #FFFFFF;
  cursor: pointer;
}

/* error message */
.error-txt {
  color: #475467;
  font-size: 2.0rem;
  font-weight: 400;
}

/* Responsiveness for Mobile View*/
@media screen and (max-width: 750px) {
  .container {
    margin: auto;
    padding-top: 50px;
    padding-bottom: 30px;
  }

  .profile-pic {
    width: 15%;
  }

  .share-btn {
    top: 3%;
    width: 7%;
  }

  .link-item {
    max-width: 343px;
    height: 68px;
    overflow-x: scroll;
  }

  .footer-img {
    width: 40%;
  }

  .footer-items {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }

  /* Contact*/
  .contact-container {
    margin: auto;
    align-items: center;
  }

  .contact {
    margin-left: 15px;
  }

  .contact-txt {
    line-height: 28px;
  }

  .form-flex {
    flex-direction: column;
  }

  .email-field, .form-btn, .form-btn-1 {
    width: 348px;
    height: 44px;
  }

  .message-field {
    min-width: 343px;
    max-width: 343px;
    min-height: 132px;
    max-height: 132px;
  }

  .check-box-label {
    width: 300px;
  }

  /* error component */
  .error-flex {
    margin: 40px 20px;
  }

  .error-flex-row {
    flex-direction: column;
  }

  .error-btn-flex, .error-btn-2 {
    width: 340px;
    height: 48px;
    margin-left: -10px;
  }
}

/* Responsiveness for Tablet and mini pc view*/
@media screen and (max-width: 1290px) and (min-width: 751px) {
  .container {
    margin: auto;
    padding-top: 50px;
    padding-bottom: 30px;
  }

  .profile-pic {
    width: 10%;
  }

  .share-btn {
    top: 1%;
    width: 4%;
  }

  .link-item {
    max-width: 680px;
    height: 68px;
    overflow-x: scroll;
  }

  .footer-items {
    flex-direction: row;
    gap: 0;
  }
}
